<!DOCTYPE html>
<html>
    <head>
        <title>Movies App</title>
        <link rel="icon" href="https://img.icons8.com/dusk/64/000000/movie-projector.png" />
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        {{>sidebar}}
        <div class="maincontent">
            <div id="focusContent">
                <form>
                    <input name="name" type="text" placeholder="Movie Title" autocomplete="off" required="true" value="{{data.name}}">
                    <input name="release" type="number" minlength="4" maxlength="4" min="1900" max="2050" placeholder=" Release Year (YYYY)" autocomplete="off" required="true" value="{{data.release}}">
                    <input name="poster" type="url" placeholder="Poster URL" autocomplete="off" value="{{data.poster}}">
                    <input name="genres" type="text" placeholder="Genres (comma separated)" autocomplete="off" value="{{data.genres}}">
                    <textarea name="overview" type="text" rows="5" placeholder="Brief Overview" value=>{{data.overview}}</textarea>
                    <button type="button" onclick="onEdit({{data.id}})">SUBMIT</button>
                    <a href="/">CANCEL</a>
                </form>
            </div>
        </div>
        <script src="./input.js"></script>
    </body>
</html>